{% load static %}
<div class="login-panel" v-if="showLogin">
    <h2>User Login</h2>
    <div class="error" v-if="error">{{ error }}</div>

    <form method="post" action="/login/">
        <div class="input-row">
            <label for="username">用户名</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="input-row">
            <label for="password">密码</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="btn-container">
            <button type="submit">登录</button>
        </div>
        <div class="btn-container">
            <button @click="showLogin = false" type="button">返回首页</button>
        </div>
    </form>
    <br>
    <a href="{% url 'home' %}">没注册账号？点击回首页</a>
</div>
