<div>
    <h1>向数据库提问（NoSQL）</h1>

    <form id="mongoqueryForm" action="{% url 'nosql_mongo_query' %}" method="post">
        {% csrf_token %}
        <label for="data_link_query">Please enter your MongoDB link:</label>
        <textarea id="mongo_data_link_query" name="data_link_query" rows="4" cols="50"></textarea>
        <label for="mongo_query">请输入你的查询：</label>
        <textarea id="mongo_query" name="mongo_query" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="提交 Mongo 查询">
    </form>

    <form id="firebasequeryForm" action="{% url 'nosql_query' %}" method="post">
        {% csrf_token %}
        <label for="data_link_query">Please enter your Firebase link:</label>
        <textarea id="firebase_data_link_query" name="data_link_query" rows="4" cols="50"></textarea>
        <label for="firebase_query">请输入你的查询：</label>
        <textarea id="firebase_query" name="firebase_query" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="提交 Firebase 查询">
    </form>

    <div id="result-container" class="result-container" style="display: none;">
        <h2>查询结果：</h2>
        <pre id="result"></pre>
    </div>

    <div id="error-container" class="error-container" style="display: none;">
        <h2>错误：</h2>
        <pre id="error"></pre>
    </div>

    <a href="{% url 'user_query_history' %}">查看我的查询历史</a>
</div>

<script>
    document.getElementById('firebasequeryForm').addEventListener('submit', function(event) {
        event.preventDefault();  // 阻止表单提交的默认行为

        var query = document.getElementById('firebase_query').value;
        var data_link = document.getElementById('firebase_data_link_query').value;
        var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        var formData = new FormData();
        formData.append('firebasequery', query);
        formData.append('datalink',data_link);
        formData.append('csrfmiddlewaretoken', csrfToken);

        fetch("{% url 'nosql_query' %}", {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.result) {
                document.getElementById('result').textContent = JSON.stringify(data.result, null, 2);
                document.getElementById('result-container').style.display = 'block';
                document.getElementById('error-container').style.display = 'none';
            } else if (data.error) {
                document.getElementById('error').textContent = data.error;
                document.getElementById('error-container').style.display = 'block';
                document.getElementById('result-container').style.display = 'none';
            }
        })
        .catch(error => {
            document.getElementById('error').textContent = '发生错误：' + error;
            document.getElementById('error-container').style.display = 'block';
            document.getElementById('result-container').style.display = 'none';
        });
    });
    document.getElementById('mongoqueryForm').addEventListener('submit', function(event) {
        event.preventDefault();  // 阻止表单提交的默认行为

        var query = document.getElementById('mongo_query').value;
        var data_link = document.getElementById('mongo_data_link_query').value;
        var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        var formData = new FormData();
        formData.append('mongoquery', query);
        formData.append('datalink',data_link);
        formData.append('csrfmiddlewaretoken', csrfToken);

        fetch("{% url 'nosql_mongo_query' %}", {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.result) {
                document.getElementById('result').textContent = JSON.stringify(data.result, null, 2);
                document.getElementById('result-container').style.display = 'block';
                document.getElementById('error-container').style.display = 'none';
            } else if (data.error) {
                document.getElementById('error').textContent = data.error;
                document.getElementById('error-container').style.display = 'block';
                document.getElementById('result-container').style.display = 'none';
            }
        })
        .catch(error => {
            document.getElementById('error').textContent = '发生错误：' + error;
            document.getElementById('error-container').style.display = 'block';
            document.getElementById('result-container').style.display = 'none';
        });
    });
</script>
